extends layout

block content
  script(src='/javascripts/index.js')
  div(class='container')
    header
      div(class='row')
        img(class='u-max-full-width' src='/images/URCA-ORIZZONTALE.jpg' id='urca-image') 
      br
      div(class='row' id='weather-row')
        div(class='info-weather')
          div(class='city-name')
            | Cremona
            div(class='weather-icon')
            div(class='weather-desc')
            div(class='temperature-value')

      hr(id='header-hr')
    each item in blogPosts
      article
        div(class='row')
          time(class='post-date')= `${item.Data.getDate()}/${item.Data.getMonth() + 1}/${item.Data.getFullYear()}`
          h4(class='post-title')
            a(href=`/post/${item._id}`)= item.Titolo   
           
        div(class='row')
          if item.Media_Paths.length > 0
            div(class='three columns')
              img(src=item.Media_Paths[0].slice(item.Media_Paths[0].indexOf('/')) class='u-max-full-width')
            div(class='nine columns' class='post-prequel')
            if item.Testo.length > 600
              | !{item.Prequel}...
              br
              a(href=`/post/${item._id}`) Leggi tutto
            else
              | !{item.Testo}
          else
            div(class='u-full-width')
              if item.Testo.length > 600
                | !{item.Prequel}...
                br
                a(href=`/post/${item._id}`) Leggi tutto
              else
                | !{item.Testo}
      hr
    
    