extends layout

block content
  div(class='container')
    header
      div(class='row')
        img(class='u-max-full-width' src='/images/URCA-ORIZZONTALE2.png' id='urca-image') 
      div(class='row' id='weather-row')

    hr(id='header-hr')
    if events.length > 0
      -const mesiIt = ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre']
        div(class='board-container')
          table
            caption
              h5 Eventi e appuntamenti
              
            tbody
              each item in events
                tr
                  td(class='event-date')
                    div= mesiIt[item.Data_Evento.getMonth()]
                    div
                    span(class='date-day')= item.Data_Evento.getDate()
                    div= item.Data_Evento.getFullYear()
                  td(class='event-text')= item.Testo_Evento   
          
    each item in blogPosts
      article
        div(class='row')
          time(class='post-date')= `${item.Data.getDate()}/${item.Data.getMonth() + 1}/${item.Data.getFullYear()}`
          h4(class='post-title')
            a(href=`/post/${item._id}`)= item.Titolo   
           
        div(class='row')
          if item.Temp_Media_Paths.length > 0
            div(class='three columns')
              img(src=`data:${item.Immagini[0].contentType};base64,${item.Immagini[0].data.toString('base64')}` class='u-max-full-width')
              //- img(src=item.Media_Paths[0].slice(item.Media_Paths[0].indexOf('/')) class='u-max-full-width')
            if item.Testo.length > 600 
              div(class='nine columns' class='post-prequel')!= item.Prequel 
                | ...
                br
                a(href=`/post/${item._id}`) Leggi tutto
            else
              div(class='nine columns' class='post-prequel')!= item.Testo

          else
            div(class='u-full-width')
              if item.Testo.length > 600
                | !{item.Prequel}...
                br
                a(href=`/post/${item._id}`) Leggi tutto
              else
                | !{item.Testo}
      hr
  script(src='/javascripts/index.js')  
    