extends layout

block content
    div(class ='container')
        div(class='row')
            div(class='nine columns')
                h4(class='u-full-width' class='post-title')= blogPost.Titolo  
                time(class='post-date')= `${blogPost.Data.getDate()}/${blogPost.Data.getMonth() + 1}/${blogPost.Data.getFullYear()}`
            div(class='three columns')
                img(class='u-max-full-width' class='urca-banner' src="/images/urca-logo3.png")
        if blogPost.Media_Paths.length > 0
            div(class='row')
                div(class='seven columns')
                    | !{blogPost.Testo}  
                div(class='five columns') 
                    each path in blogPost.Media_Paths
                        img(src= path.slice(path.indexOf('/')), alt="" class='u-max-full-width' class='post-image')
        else
            div(class='row')
                div(class='nine columns')
                    | !{blogPost.Testo}
