extends layout

block content
    div(class='container')
        div(class='row' class='page-title')
            div(class='nine columns')
                h4= title
            div(class='three columns')
                img(class='u-max-full-width' class='urca-banner' src="/images/urca-logo.png")
        br
        form(id='trainingForm')
            each question, i in questionList
                div(class='u-full-width' class='question-box')
                    h6(class='question-arg')= question.Argomento
                    fieldset(data-correct-answer=`${question.Risposta_Esatta}`)
                        legend(class='question')= `${i + 1}) ${question.Domanda}` 
                        each risposta, j in question.Risposte
                            label(class='answer')
                                input(type='radio' name=question._id value=j)
                                span(class="label-body")= risposta
                hr
                              
            input(class='button-primary' class='u-full-width' type='submit' value='TERMINA e CORREGGI' id='submit-button')
        div(class='row')
            div(class='twelve columns')
                p(id='right-answers')
                p(id='wrong-answers')
    script(type='text/javascript' src='/javascripts/correzione.js')
                    